/*===========================================================
partner CSS
=============================================================*/
.partner {
  padding: 64px 0;
}

.partner .title {
  padding-bottom: 8px;
}

.partner .partner-slider {
  padding: 24px 12px;
}

.partner .item {
  width: auto;
  height: 166px;
  -webkit-box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.partner .swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  background-color: #D9D9D9;
  opacity: 1;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.partner .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -7px;
}

.partner .swiper-pagination-bullet-active {
  background-color: var(--primary);
}

/*==================== responsive ====================*/
@media (min-width:768px) and (max-width:1199px) {
  .partner {
    padding: 32px 0;
  }
}

@media screen and (max-width:767px) {
  .partner {
    padding: 32px 0;
  }
}